{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=GET action="{{ url_for('info') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Query Search</label>
                    <input type="text" class="form-control" name="search" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}